body{
    font-family: "Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB","Microsoft Yahei","微软雅黑",sans-serif;
    color: #000;
    background: #FFF none repeat scroll 0% 0%;
    font-size: 10pt;
    clear: both;
    padding: 0;
    margin: 0;
}
h1{
    margin: 1rem 0px 1rem 0;
    display: inline-block;
    border: medium none;
    line-height: 1.2857em;
    text-transform: none;
    color: rgba(0, 0, 0, 0.87);
    min-height: 1rem;    
}
a{
    color: #4078C0;
    text-decoration: none;;
}
a:hover{
    text-decoration: underline;
}
.head{
    padding-left: 20px;
}
.map-container{
    width:80%;
    float:left;
}
.amap-marker-content{
    font-weight: bold;
}
.job-container{
    float: right;
    width: 20%;
    font-size: 1.1em;
    line-height: 29px;
    overflow-y: scroll;
}
.template{
    display:none;
}
.job{
    padding: 10px;
    cursor: pointer;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1), 0px 0px 1px rgba(0, 0, 0, 0.1);
    margin: 0 2px 6px 2px;
}
.job:hover{
    background-color: rgba(26, 105, 164, 0.07) !important;
}
.job>div>a>img{
    box-shadow: 0px 1px 3px 0px #D4D4D5, 0px 0px 0px 1px #D4D4D5;    
}
.job>div>a[name="user"]{
    float: left;
    margin-right: 10px;
}
.job>div[name="content"]{
    display:none;
    background-color: #fff !important;
    padding: 10px;
    border-radius: 10px;    
}
.amap-logo{
    display:none !important;
}
.amap-copyright{
    display:none !important;
}
.loading{
    color: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #4088C0;
    text-align: center;
}
@keyframes pulse {
    from {color: #FFF;}
    to {color: #739EBF;}
}
@-webkit-keyframes pulse
{
    from {color: #FFF;}
    to {color: #739EBF;}
}
.loading>h3{
    font-size: 4em;
    margin-top: 10%;
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}


